
.clock,
.display-panel,
.display,
.divider {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}

.clock {
  width: fit-content;
  padding: 20px;
  border: 1px solid #333;
  color: white;
}

.display-panel {
  width: 300px;
  padding: 5px;
  background: lightpink;
}

.display {
  width: 20px;
}

.divider {
  width: 10px;
}

h1 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  
}

h1 {
  text-align: center;
  text-transform: uppercase;
  color: lightpink;
}

p {
  text-align: left;
  letter-spacing: 3px;
}