.break-time-container {
  width: 200px;
  height: 50px;
  margin-top: 10px;
}

.work-time,
.break-time {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 1px solid black;
  color: black;
}

.work-time {
   background-color:lightpink
}

.break-time {
 background-color: lightgreen;
}

.hidden {
  display: none;
}